name: time_chart
description: A scrollable time chart in Flutter. Currently supporting en, ko languages.
version: 0.3.3
homepage: https://github.com/jja08111/time_chart

environment:
  sdk: '>=2.14.0 <3.0.0'
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  linked_scroll_controller: ^0.2.0
  touchable: ^1.0.0
  path_drawing: ^1.0.0
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4
